# NOTE: Edit this file with correct values for your system
#       and rename by removing the .example in the filename

# notifications DB
# service network name defined via docker-compose
MONGO_HOST=mongodb-dep-test
MONGO_PORT=27017
MONGO_NAME=latestEQs

# mysql db for seiscomp
MYSQL_HOST=host.docker.internal
MYSQL_USER='username'
MYSQL_PASSWORD='password'
MYSQL_NAME='seiscomp'

# realtime comms with seiscomp
REDIS_HOST=redis-dep-test
REDIS_PORT=6379

# Granular reverse-geolocation
GEOSERVE_HOST=geoserve-ws-dep-test
GEOSERVE_PORT=80

# production host domain (and for deployment testing)
CLIENT_PROD_HOST=192.168.1.13       # web app domain name
BACKEND_PROD_HOST=192.168.1.13/api
BACKEND_PROD_PORT=5000
